<h2>Order Confirmation Page</h2>

<div class="well">
  <h3>Your order number is: <%= @order_id %></h3>
  <% @order.carted_products.each do |carted_product| %>
    <h3><%= carted_product.candy.name %> - <%= number_to_currency(carted_product.candy.price) %> X <%= carted_product.quantity %></h3>
  <% end %>
  <h3>Subtotal: <%= number_to_currency(@order.subtotal) %></h3>
  <h3>Tax: <%= number_to_currency(@order.tax) %></h3>
  <h3>Total: <%= number_to_currency(@order.total) %></h3>
</div>

